.page {
  padding: 40px;

  h1 {
    font: normal normal normal 3rem/4rem var(--font-helvetica);
    margin-bottom: 50px;
  }

  h2 {
    font: normal normal normal 2rem/2.6rem var(--font-helvetica);
    margin-bottom: 30px;
  }

  p {
    font: normal normal normal 1.4rem/1.6rem var(--font-helvetica);
    margin-bottom: 20px;
  }
}
