/* doc
---
title: Accessibility
name: accessibility
category: Base
---

*/

/* Accessibility Links */
.accessibility-links {
  @mixin z-index(accessibility-links);
  left: 20px;
  list-style-type: none;
  position: absolute;
  top: 20px;

  a {
    background: var(--color-black);
    color: var(--color-white);
    font: 2.2rem/2.6rem var(--font-helvetica);
    padding: 10px;
  }
}

/* No Javascript/Browser Message */
.no-browser,
.no-script {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gallery);
  color: var(--color-white);
  display: block;
  padding: 50px 20px 30px;
  position: relative;
  text-align: center;
  z-index: 999;

  p,
  p a {
    font: 2rem/2.4rem var(--font-helvetica);
  }
}

/* Suppress the focus outline on elements that cannot be accessed via keyboard.
This prevents an unwanted focus outline from appearing around elements that
might still respond to pointer events. */
[tabindex='-1']:focus {
  outline: none !important;
}
