/* doc
---
title: Buttons
name: button
category: Base
---

Button styles:

```html_example
<a class="btn" href="http://google.com">Google</a>
<a class="btn btn--blue" href="http://yahoo.com">Yahoo</a>
```

*/
.btn {
  background: white;

  &--blue {
    background: blue;
  }
}
