/* doc
---
title: Colours
name: colours
category: Colour Palette
---

Color Palette for this App

*/
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gallery: #eee;
  --color-primary: #0c6;
  --color-link: #000;
  --color-link--hover: #00b158;
}
