/* doc
---
title: Common Styles
name: common-styles
category: Base
---

Common styles used across the website

*/

/* Custom Resets */
p,
pre,
blockquote,
a,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  max-width: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Fix the box sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1280px;
}
