/* doc
---
title: Font Styles
name: font-styles
category: Base
---

Font styles

*/

:root {
  --font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-bebas: BebasNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "HelveticaNeueStd";
  src:
    url("../fonts/helveticaneue/helveticaneue.woff2") format("woff2"),
    url("../fonts/helveticaneue/helveticaneue.woff") format("woff");
}

@font-face {
  font-family: "BebasNeue";
  src:
    url("../fonts/bebasneue/bebasneue.woff2") format("woff2"),
    url("../fonts/bebasneue/bebasneue.woff") format("woff");
}

/* Better font rendering */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span,
input,
label,
textarea,
time,
button,
address {
  font-smoothing: antialiased;
}

/* Font sizing */
html {
  font-size: 62.5%;
  text-size-adjust: 100%;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
  transition: all .5s ease-out;

  /* on hover */
  &:hover {
    /* Prevent Rollover on touch devices */
    .no-touch & {
      color: var(--color-link--hover);
      text-decoration: underline;
    }
  }
}
