/* doc
---
title: Helper Styles
name: helper-styles
category: Base
---

Helper styles

*/

.clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

/*
 * Hide from both screenreaders and browsers:
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/**
 * For Screenreaders
 */
.visually-hidden {
  @include visually-hidden;
}

.visually-hidden--off {
  @include visually-hidden--off;
}

/**
 * Inline Background Cover
 */
.inline-background-cover {
  bottom: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  img,
  video,
  picture {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
