/* doc
---
title: Mixins
name: mixins
category: Mixins
---

*/

/**
 * Visually hidden
 *
 */
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Remove visually hidden
 *
 */
@mixin visually-hidden--off {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
