.accessibility-links {
  left: 20px;
  list-style-type: none;
  position: absolute;
  top: 20px;
  z-index: var(--z-index__accessibility-links);

  a {
    background: var(--color-black);
    color: var(--color-white);
    font: 2.2rem/2.6rem var(--font-helvetica);
    padding: 10px;
  }
}
