.nav {
  &__list {
    display: flex;
    list-style-type: none;

    li {
      flex-direction: row;
      margin-right: 20px;
    }

    a {
      font: normal normal bold 1.4rem/1.6rem var(--font-helvetica);

      &.selected {
        color: var(--color-link--hover);
      }
    }
  }
}
